// $palette-deepBlue: #00548a;
$palette-deepBlue: #002060;
// $palette-lightBlue: #067fd0;
$palette-lightBlue: #0070c0;
$palette-trueWhite: #fff;
$palette-trueBlack: #000;
$palette-blueGray: #dae3f3;
$palette-gray: #f2f2f2;
$palette-yellow: #ff0;
$palette-lightGreen: #00ae7b;
$palette-red: #f00;
$pallete-orange: #ffa500;

$color-global-main: $palette-deepBlue;
$color-global-sub: $palette-lightBlue;
$color-global-accent: $palette-blueGray;
$color-global-text: $palette-trueBlack;
$color-reversal-text: $palette-trueWhite;
$color-accent-text: $palette-yellow;
$color-accent02-text: $palette-lightGreen;
$color-accent03-text: $pallete-orange;
$color-impact-text: $palette-red;
$color-globalHeader-background: $palette-trueWhite;
$color-common-bg: $palette-gray;
$color-card-bg: $palette-trueWhite;
$color-shadow: rgba($palette-trueBlack, 0.6);
$color-border-main: $palette-trueBlack;
$color-box-background: $palette-blueGray;
$color-shadow-reversal: rgba($palette-trueWhite, 0.8);
